* {
    margin: 0;
    padding: 0;
}
h1, h2, div{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover ;    
    background-attachment: scroll;
}
.nav-item a{
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.container{
 /* background-color: yellow ;
 opacity: 0.3; */

}
.brand {
    font-family: 'Teko', sans-serif;
    color:white;
}






/*   Text code here */
.highlight{
    background-color:tomato ;
}
button {
    color: white;
}

#startNow{
    color: whitesmoke;
    font-size: 50px;
}
#btnSection{
    font-size: 50px;
}